.navBar-custom{
    background-color: #1F363D;
    font-family: 'Courier New', Courier, monospace;
    color:greenyellow;
    text-decoration: none;
}
.navBar-custom li{
    text-decoration: none;

}
.navBar-custom li:hover{
    color:white;
}
.footer{
    background-color:#1F363D;
    color:aliceblue;
    text-align: center;
    padding-top:auto;
}

.aboutMe{
    background-color: #F9F1BC;
    padding: 2%;
    
}
.aboutMe h1, h3{
    padding: 2%;
    margin-left: 5%;
}